* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
body {
  /* max-width: 1600px; */
}
.box-container {
  background-image: url("images/banner/banner3.png");
  width: 1600px;
  height: 800px;
  display: flex;
  justify-content: end;
}
.box-service {
  margin-top: 200px;
  margin-right: 200px;
}
.right-title {
  color: #fff;
  font-size: 65px;
  font-weight: 700;
}
.right-description {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
}
.primary {
  color: #005fac;
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  padding: 20px 25px;
  border-radius: 5px;
  border: 0;
}
/* banner */

.banner-container {
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
  height: 800px;
  margin-top: 50px;
}
.banner-person {
  width: 451px;
  margin-left: 200px;
}
.person {
  width: 450px;
}
.banner-details {
  color: black;
  margin-left: 128px;
}
.banner-title {
  color: var(--Dark-01, #151414);
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 24px;
  width: 250px;
}
.banner-description {
  color: #444343;
  font-size: 18px;
  font-weight: 400;
  width: 40%;
}
.items {
  font-size: 16px;
  margin-top: 16px;
  width: 40%;
  /* margin-left: 150px; */
}
.item {
  margin-top: 8px;
}

/* my plan */

.plan {
  color: #151414;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
}
.icon-container {
  display: flex;
  justify-content: space-evenly;
}
.icon-img {
  margin-top: 15px;
}
.icon-title {
  font-size: 30px;
  margin-bottom: 10px;
}
.icon-description {
  color: #737272;
  font-size: 25px;
  margin-bottom: 30px;
}
/* watch */
.watch {
  background-image: url("images/gradient2.png"), url("images/watch.png");
  width: 1140px;
  height: 300px;
  align-items: center;
  margin: auto;
  display: flex;
}
.watch-details {
  margin: 50px;
}
.watch-title {
  color: #fff;
  font-size: 40px;
  margin-bottom: 20px;
}

.primary-text {
  font-size: 20px;
  color: #f15b22;
  padding: 20px 35px;
  border-radius: 5px;
  border: 0;
  background-color: #fff;
  margin-top: 15px;
}
/* footer */
.foot {
  display: flex;
  justify-content: space-around;
  color: #fff;
  background-color: #151414;
  height: 577px;
  align-items: center;
  margin-top: 130px;
}

.future-title {
  font-size: 45px;
}
.future-description {
  font-size: 16px;
  margin-top: 16px;
}

.email {
  font-size: 16px;
  margin-top: 24px;
}
.phone {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 30px;
}

.primary-colour {
  color: #fff;
  border-radius: 8px;
  padding: 20px 35px;
  color: #f15b22;
  font-size: 20px;
}
