* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

.box-container {
  background-image: url("images/banner/banner3.png");
  width: 1600px;
  height: 800px;
  display: flex;
  justify-content: right;
  text-align: right;
}
.box-service {
  margin-top: 200px;
  margin-right: 224px;
}
.right-title {
  color: #fff;
  font-size: 65px;
  font-weight: 700;
}
.right-description {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-top: 24px;
}
.primary {
  color: #005fac;
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  padding: 20px 25px;
  border-radius: 5px;
  border: 0;
}
/* banner */

.banner-container {
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;
  height: 800px;
  margin-top: 50px;
}
.banner-person {
  width: 451px;
  margin-left: 200px;
}
.person {
  width: 450px;
}
.banner-details {
  color: black;
  margin-left: 128px;
}
.banner-title {
  color: var(--Dark-01, #151414);
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 24px;
  width: 250px;
}
.banner-description {
  color: #444343;
  font-size: 18px;
  font-weight: 400;
  width: 40%;
}
.items {
  font-size: 16px;
  margin-top: 16px;
  width: 40%;
  /* margin-left: 150px; */
}
.item {
  margin-top: 8px;
}

/* my plan */

.plan {
  color: #151414;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
.icon-container {
  display: flex;
  justify-content: space-evenly;
}
.icon-img {
  margin-top: 15px;
}
.icon-title {
  font-size: 30px;
  margin-bottom: 10px;
}
.icon-description {
  color: #737272;
  font-size: 25px;
  margin-bottom: 30px;
}
/* watch */
.watch {
  background-image: url("images/gradient2.png"), url("images/watch.png");
  width: 1140px;
  height: 300px;
  align-items: center;
  margin: auto;
  display: flex;
  margin-top: 130px;
  margin-bottom: 130px;
}
.watch-details {
  margin: 50px;
}
.watch-title {
  color: #fff;
  font-size: 40px;
  margin-bottom: 20px;
}

.primary-text {
  font-size: 20px;
  color: #f15b22;
  padding: 20px 35px;
  border-radius: 5px;
  border: 0;
  background-color: #fff;
  margin-top: 15px;
}

/* About section */
.about {
  width: 60%;
  height: 40vh;
  background: lavenderblush;
  margin: auto;
}
.about-me {
  color: #151414;
  text-align: center;
}
.about-title {
  font-size: 40px;
  padding: 25px 10px;
}
.about-description {
  font-size: 16px;
  padding: 10px 15px;
  margin-top: 15px;
}
.about-down-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.about-details {
  margin-bottom: 10px;
}
.down-title {
  font-size: 16px;
  color: gray;
  margin-top: 20px;
}
.down-name {
  margin-top: 8px;
}
/* footer */
.foot {
  display: flex;
  justify-content: space-around;
  color: #fff;
  background-color: #151414;
  height: 577px;
  align-items: center;
  margin-top: 130px;
}

.future-title {
  font-size: 45px;
}
.future-description {
  font-size: 16px;
  margin-top: 16px;
}

.email {
  font-size: 16px;
  margin-top: 24px;
}
.phone {
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 30px;
}

.secendary {
  border-radius: 10px;
  padding: 20px 35px;
  font-size: 20px;
  background-color: #fff;
  color: #f15b22;
  margin-top: 16px;
}
.subscribe-title {
  font-size: 25px;
}
.id {
  padding: 20px 20px;
  font-size: 18px;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: #151414;
  margin-top: 31px;
  font-weight: bold;
}
